body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.register-form{
    background-color:#e8e8e8;
    width:550px;
}

.register-form-position{
    margin-top:80px;
    margin-left:280px;
}

.register-form-content{
    margin-left:20px;
    width:950px;
}

.register-form-button {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      margin-left: 37.33333333333333%;
}


.login-form{
    background-color: #e8e8e8;
    width:450px;
}

.login-form-position{
    margin-top:100px;
    margin-left:320px;
}

.login-form-content {
    width:700px;
}
