
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/EditProfilePage.css">


<h2>EditProfile</h2>
<div id="editprofile_section" >
    <h1>Settings</h1>

    <img src="~/Content/Images/avatar-big.png" alt="Smiley face" height="150" width="150">
    <hr />


    <div class="form-group">
        <label for="usr">First name:</label>
        <input type="text" class="form-control" id="usrname" value="Nazar">
    </div>

    <div class="form-group">
        <label for="usr">Second name:</label>
        <input type="text" class="form-control" id="usrs" value="Popkov">
    </div>

    <hr />
    <p> Change password </p>
    <div class="form-group">
        <label for="pwd">Old password:</label>
        <input type="password" class="form-control" id="opwd">
    </div>


    <div class="form-group">
        <label for="pwd">New password:</label>
        <input type="password" class="form-control" id="npwd1">
    </div>


    <div class="form-group">
        <label for="pwd">Repeat new password:</label>
        <input type="password" class="form-control" id="npwd2">
    </div>

    <hr />



    <div class="form-group">
        <label for="comment">About myself:</label>
        <textarea class="form-control" rows="5" id="comment">Basically cycling is a part of my soul .Like to to it with my friends and just like everyone else - it really makes me happy
        </textarea>
    </div>



    <button type="button" class="btn btn-default">Save</button>

</div>

