
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/EditProfilePage.css">

<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/App_Scripts/EditProfileScript.js"></script>


<h2>EditProfile</h2>
<div id="editprofile_section" >
    <h1>Settings</h1>

    <img src="~/Content/Images/avatar-big.png" alt="Smiley face" height="150" width="150" data-bind="attr: {src: Picture}">
    <hr />

    <h1> <strong data-bind="text: fullName">FullName</strong></h1>

    <div class="form-group">
        <label for="usrname">First name:</label>
        <input type="text" class="form-control" id="usrname" value="Nazar" data-bind="textInput: FirstName  " >
    </div>

    <div class="form-group">
        <label for="usrscname">Last name:</label>
        <input type="text" class="form-control" id="usrscname" value="Popkov" data-bind="textInput: SecondName">
    </div>

    <hr />
    <p> Change password </p>
    <div class="form-group">
        <label for="opwd">Old password:</label>
        <input type="password" class="form-control" id="opwd" data-bind="value: OldPass">
    </div>


    <div class="form-group">
        <label for="pwd">New password:</label>
        <input type="password" class="form-control" id="npwd1" data-bind="value: NewPass">
    </div>


    <div class="form-group">
        <label for="pwd">Repeat new password:</label>
        <input type="password" class="form-control" id="npwd2" data-bind="value: NewPass2">
    </div>

    <hr />



    <div class="form-group">
        <label for="comment">About myself:</label>
        <textarea class="form-control" rows="5" id="comment" data-bind="textInput: About">
            Basically cycling is a part of my soul .Like to to it with my friends and just like everyone else - it really makes me happy
        </textarea>
    </div>



    <button type="button" class="btn btn-default" id="save_btn">Save</button>

  
</div>

