
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/ProfilePage.css">

<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/App_Scripts/ProfileScript.js"></script>


<h2></h2>


<div id="profile _section">
    <div class="row">

        <div class="col-md-3 text-center">
            <img id="avatar" data-bind="attr:{alt: fullName}" height="150" width="150" />
        </div>
        
        <div class="col-md-4 ">
            <h1> <strong data-bind="text: fullName">FullName</strong></h1>
            <div class="form-group" id="json">
                <label for="usr">About myself :</label>

            </div>

            <p data-bind="text: About">
            </p>
            <hr />

        </div>
        <div class="col-md-3 text-center">
            <h2></h2>
            <button type="button" class="btn btn-default" id="properties_btn" resource="">Edit</button>
            <hr />
        </div>
    </div>

