@{
    ViewBag.Title = "BikeMates";
}
<div class="jumbotron">
    <p>
        <select id="sort_order" onchange="CallActionList($(this).val()); return false;"
                <option>select</option>
                <option value="All Routes">All Routes</option>
                <option value="My Routes">My Routes</option>
                <option value="Subscription">Subscription</option>
            </select>
    </p>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

            <li align="left" style="position: absolute; top:100px; left:1100px; ">
                <input type="submit" value="By Date">
                <input type="submit" value="By Title">
                <input type="submit" value="By Participants">
            </li>
        </ul>
    </div>
</div>

<form method="post" action="">
    <input type="hidden" value="???" name="???" />
    <table>
        <tr>
            <td><h4>Location </h4></td>
            <td><input type="text" size="26" name="Location" /> </td>
        </tr>
        <tr>
            <td><h4>Date</h4></td>
            <td>
                <input type="text" size="10" name="Date" />
                <input type="text" size="10" name="Date" />
            </td>
        </tr>
        <tr>
            <td><h4>Distance</h4></td>
            <td>
                <input type="text" size="10" name="Distance" />
                <input type="text" size="10" name="Distance" />
            </td>
        </tr>
    </table>
</form>

<div class="row">
    <style>
        d {
            border: 1px solid black;
            padding: 10px;
        }
    </style>

</div>

