
@{
    ViewBag.Title = "RouteView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("/Content/PagedList.css")" rel="stylesheet" type="text/css" />
<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/App_Scripts/RouteView.js"></script>

<table align="center" style="bottom:300px">
    <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
    <tr><td><label>Title: </label></td><td><input type="text" id="title" data-bind="textInput: title" /></td></tr>
    <tr><td><label>Start: </label></td><td><input type="text" id="start" data-bind="textInput: start" /></td></tr>
    <tr><td><label>Distance: </label></td><td><input type="number" id="distance" data-bind="textInput: distance" /></td></tr>
    <tr><td><label>Meeting Place: </label></td><td><input type="text" id="MeetingPlace" data-bind="textInput: MeetingPlace" /></td></tr>
</table>


